        </main>
        
        <footer class="footer">
            <div class="container">
                <p>This is the footer of our application</p>
            </div>
        </footer>
        
        <script src="/js/main.js"></script>
    </body>
</html>