<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <header class="header">
            <div class="container">
                <h1>Header</h1>
                
                <div class="navigation">
                    <a href="/">Home</a>
                    <a href="/about">About</a>
                </div>
            </div>
        </header>

        <main class="main">