{{>header}}

<div class="section-text">
    <div class="container">
        <h2>{{title}}</h2>

        <form id="weather-form">
            <label for="location">Search weather by location:</label>

            <input type="text" id="location" name="location" placeholder="Location">

            <input type="submit" value="Search">
        </form>

        <h3 id="weather-text"></h3>
    </div>
</div>

{{>footer}}
        